obj
bin
deploy
*.csproj.user
*.suo
*.cache
*.nupkg
*.orig
~$*
*~
*ReSharper*
*.swp
*.testsettings
TestResults/*
*.dbmdl
Releases/2*
*.pidb
*.docstates
test-results
apply_config.bat
NDependOut
*.dotCover
*_mm_cache.bin
*.log
Simple.Data.sln.DotSettings.user
Simple.Data/Simple.Data.idc
.DS_Store
mono-release-*
*ncrunch*
MediumTrustApp
nohup.out
*App_Data*
*.DotSettings.user
DistributedServices.PanelManagement.EventProcessorService/servicelog.txt
DistributedServices.PanelManagement.EventProcessorService/trace.log
*servicelog.txt
*trace.log
